[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-texteditor"]
	path = imgui-texteditor
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
